# For loop exercises

### For loop that prints out the numbers 1- 100 separated by stars.

In [12]:
for i in range(1,101,1):
    print(i, end="*")

1*2*3*4*5*6*7*8*9*10*11*12*13*14*15*16*17*18*19*20*21*22*23*24*25*26*27*28*29*30*31*32*33*34*35*36*37*38*39*40*41*42*43*44*45*46*47*48*49*50*51*52*53*54*55*56*57*58*59*60*61*62*63*64*65*66*67*68*69*70*71*72*73*74*75*76*77*78*79*80*81*82*83*84*85*86*87*88*89*90*91*92*93*94*95*96*97*98*99*100*

### For loop that prints out user inputted  message BACKWARDS.

In [8]:
message = input("Enter the message: ")
for i in range(len(message)-1,-1,-1):
    print(message[i], end=" ")

Enter the message: Steven
n e v e t S

### For loop that prints the numbers from 10 to 1 then prints BLAST OFF.

In [ ]:
for i in range(10,0,-1):
    print(i)
print("BLAST OFF")

### For loop that prints out the 7 times table.

In [ ]:
for i in range(0,84,7):
    print(i)

### For loop that prints out all numbers between 1 -1000 that are divisible by 3 and by 4.

In [20]:
for i in range(1,1001,1):
    if i%3==0 and i%4==0 :
        print (i)

12
24
36
48
60
72
84
96
108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300
312
324
336
348
360
372
384
396
408
420
432
444
456
468
480
492
504
516
528
540
552
564
576
588
600
612
624
636
648
660
672
684
696
708
720
732
744
756
768
780
792
804
816
828
840
852
864
876
888
900
912
924
936
948
960
972
984
996

### For loop that prints all the square numbers between 1 and 100.

In [18]:
for i in range(1,11,1):
    print(i**2)

1
4
9
16
25
36
49
64
81
100